APP_TITLE=Тестовое задаени для 'ПЭСК'
APP_DESCRIPTION=Система аутентификации и авторизации - Redis

JWT_SECRET_KEY=secrets.token_hex(32)
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXP=900
JWT_REFRESH_TOKEN_EXP=3600


REDIS_HOST=localhost
REDIS_PORT=6379
